<!--<section class="card" style="z-index: 999;">-->
<!--  <h2 class="card-header">RATING FORM</h2>-->
<!--  <div class="card-body">-->
<!--    <div class="col-12 mt-5 pt-5">-->
<!--      <form [formGroup]="form" (submit)="submit()">-->
<!--        <div class="form-group">-->
<!--          <label for="imageInput">Password</label>-->
<!--          <input accept="*.png.jpg*" type="file" (change)="upload($event)" class="form-control" id="imageInput" alt="" formControlName="image">-->
<!--        </div>-->
<!--        <button type="button" class="btn-outline-secondary btn">SUBMIT</button>-->
<!--        <button type="button" (click)="getImg()" class="btn-outline-primary btn">SUBMIT</button>-->
<!--      </form>-->
<!--      <img src="" alt="">-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
