/* You can add global styles to this file, and also import other style files */

input.ng-touched.ng-invalid {
  border: 1px solid red;
  background-color: #e37676;
  &::placeholder{
    color: #fff;
  }
}

textarea.ng-touched.ng-invalid {
  border: 1px solid red;
  background-color: #e37676;
  &::placeholder{
    color: #fff;
  }
}
