/* You can add global styles to this file, and also import other style files */

.popup-wrapper {
  display: flex;
  align-items: start;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  .popup-inner {
    transform: scale(0.8);
  }
}

input.ng-touched.ng-invalid {
  border: 1px solid red;
  &::placeholder{
    color: #fff;
  }
}

textarea.ng-touched.ng-invalid {
  border: 1px solid red;
  &::placeholder{
    color: #fff;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 10px;
}
